.container-right-sign {
    padding: 120px 100px;
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headSign {
    color: #121212;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
}

.headSign2 {
    color: #AAAAAA;
    display: flex;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 37px;
}

.inputForm {
    width: 25vw;
    display: flex;
    flex-direction: column;
    color: #4E4B66;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
}

input {
    width: 100%;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
    padding: 24px;
    margin-top: 12px;
    margin-bottom: 24px;
}

input::placeholder {
    color: #A0A3BD;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}

.password {
    background-image: url(/src/assets/icon/eyeslash.png);
    background-repeat: no-repeat;
    background-position: right 22px center;
}

.signBut {
    width: 111%;
    height: 64px;
    font-size: 16px;
    color: #F7F7FC;
    background-color: #5F2EEA;
    border: none;
    border-radius: 15px;
}

.footSign {
    display: flex;
    justify-content: center;
    font-family: "inter", sans-serif;
    font-size: 16px;
    color: #AAAAAA;
    letter-spacing: 0px;
    margin-top: 32px;
}

.signLink {
    margin-left: 5px;
}